@model List<UltraPlayMarkets.Models.GetPreviewMatches>

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/main.css" />

<div class="container">
    @{
        int lastMainMarketsCounter = 0;
        int lastMarketId = 0;
        string rowClass = "odd-bgcolor";
    }
    @foreach (var match in Model.ToList())
    {
        @if (match.MainRow == 1)
        {
            @if (lastMainMarketsCounter > 0)
            {
                rowClass = "odd-bgcolor";
                <div>
                    <div class="markets">
                        @Html.ActionLink("SHOW ALL " + lastMainMarketsCounter + " MARKETS", "MatchInfo", "Home", new { id = lastMarketId }, new { @class = "info" })
                    </div>
                </div>
            }
        }

        <div class="grid-container @rowClass">
            @{
                rowClass = rowClass == "odd-bgcolor" ? "even-bgcolor" : "odd-bgcolor";
            }
            @if (match.MainRow == 1)
            {
                lastMainMarketsCounter = match.AllMarkets;
                lastMarketId = match.MatchId;
                <div class="left-group">
                    <div>
                        @if (match.IsLive)
                        {
                            <span>LIVE</span>
                        }
                        else
                        {
                            <span>PREMATCH</span>
                        }
                    </div>
                    <div>
                        @match.EventName
                    </div>
                    <div>
                        @match.BetName
                    </div>

                    <div class="playerOne active">
                        @match.PlayerOne
                    </div>
                </div>
                <div class="coefficient active">
                    @match.HomecomingValue
                </div>

                <div class="versus">
                    VS
                </div>

                <div class="coefficient active">
                    @match.GuestValue
                </div>

                <div class="right-group active">
                    <div class="playerTwo active">
                        @match.PlayerTwo
                    </div>
                </div>
            }
            else
            {
                <div class="left-group detail">
                    <div>
                        @match.BetName
                    </div>

                    <div class="playerOne active">
                        @match.PlayerOne
                    </div>
                </div>

                <div class="coefficient active">
                    @match.HomecomingValue
                </div>

                <div class="versus">
                    VS
                </div>

                <div class="coefficient active">
                    @match.GuestValue
                </div>

                <div class="right-group">
                    <div class="playerTwo active">
                        @match.PlayerTwo
                    </div>
                </div>
            }


        </div>
    }
</div>