@model List<UltraPlayMarkets.Models.GetPreviewMatches>

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/main.css" />


<div class="container">

    @{
        int lastMainMarketsCounter = 0;
    }

    @foreach (var match in Model.ToList())
    {
        @if (match.MainRow == 1)
        {
            @if (lastMainMarketsCounter > 0)
            {
                <div class="row" style="margin-bottom : 5px;">
                    <div class="col text-center">
                        @Html.ActionLink("SHOW ALL " + lastMainMarketsCounter + " MARKETS", "MatchInfo", "Home", new { id = match.MatchId }, new { @class = "info" })
                    </div>
                </div>
            }
        }

        <div class="row">

            @if (match.MainRow == 1)
            {
                lastMainMarketsCounter = match.AllMarkets;

                <div class="col-md-auto" id="IsLive">
                    @if (match.IsLive)
                    {
                        <p>LIVE</p>
                    }
                    else
                    {
                        <p>PREMATCH</p>
                    }
                </div>
                <div class="col-md-auto" id="Game">
                    @match.EventName
                </div>
            }
            <div class="col-md-auto">
                @match.BetName
            </div>

            <div class="col-md-auto" id="PlayerOne">
                @match.PlayerOne
            </div>

            <div class="col-md-auto border-0 rounded" id="PlayerOneCoef">
                @match.HomecomingValue
            </div>

            <div class="col-md-auto" id="Versus">
                VS
            </div>

            <div class="col-md-auto border-0 rounded" id="PlayerTwoCoef">
                @match.GuestValue
            </div>

            <div class="col-md-auto" id="PlayerTwo">
                @match.PlayerTwo
            </div>
        </div>
    }
</div>