@model List<UltraPlayMarkets.Models.MatchDetails>


<link rel="stylesheet" href="~/css/details.css" />

<div class="container">

        <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />

</div>

<div class="container">

    @foreach (var match in Model.ToList())
    {
        <div class="row justify-content-center" id="HeaderRow">
            <div class="col-md-auto" >
                @match.BetName
            </div>
        </div>
        <div class="row justify-content-center" id="DetailRow">
            <div class="col-md-auto">
                @match.HomecomingName
            </div>
            <div class="col-md-auto" id="Coef">
                @match.HomecomingValue
            </div>
            @if (match.GuestName != null)
            {
                <div class="col-md-auto">
                    @match.GuestValue
                </div>
                <div class="col-md-auto">
                    @match.GuestName
                </div>
            }

        </div>
    }
</div>