@model List<UltraPlayMarkets.Models.MatchDetails>

@{
    ViewData["Title"] = "Match info";
}


<link rel="stylesheet" href="~/css/match.css" />

<p class="testclass">test ffs</p>

<div class="container">
    <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />
</div>


<div class="container">
    @foreach (var match in Model.ToList())
    {
        <div class="grid-container">
            <div class="grid-row">
                @match.BetName
            </div>
            <div class="grid-col">
                <div>
                    @match.HomecomingName
                </div>
                <div>
                    @match.HomecomingValue
                </div>
                @if (match.GuestName != null)
                {
                    <div>
                        @match.GuestValue
                    </div>
                    <div>
                        @match.GuestName
                    </div>
                }
            </div>

        </div>
    }
</div>